<div id="refresh-power">
0.0
</div>

<div id="refresh-battery">
0.0
</div>

<script type="text/javascript">
$(function() {

setInterval(function(){ $('#refresh-power').load('/refresh/power'); }, 1000);
setInterval(function(){ $('#refresh-battery').load('/refresh/battery'); }, 1000);


var chart =  new Highcharts.Chart({
    chart: {
      renderTo: 'graph',
      defaultSeriesType: 'spline',
      marginRight: 10,
      events: {
        load: function() {
          var power = this.series[0];
          var battery = this.series[1];
          setInterval(function() {
            var x = (new Date()).getTime(),
            p = parseFloat($("#refresh-power").text()),
            b = parseFloat($("#refresh-battery").text())

            power.addPoint([x, p], true, true);
            battery.addPoint([x, b], true, true);
          }, 1000);
        }
      }
    },
    title: {
      text: 'Live Data',
      style: {
        margin: '10px 100px 0 0'
      }
    },
    xAxis: {
      type: 'datetime',
      tickPixelInterval: 150
    },
    yAxis: {
      title: {
        text: 'Value'
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080'}]
    },
    tooltip: {
      formatter: function() {
        return '<b>' + this.series.name + '</b><br/>' + Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' + Highcharts.numberFormat(this.y, 2);
      }
    },
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    plotOptions: {
      spline: {
        dataLabels: {
          enabled: true,
          formatter: function() {
            if (!this.series.inc) this.series.inc = 1;
            if (this.series.inc >= parseInt(this.series.data.length)) {
              this.series.inc = 0;
              return this.point.y;
            }
            this.series.inc++;
          }
        }
      }
    },
    series: [{
       name: 'Power',
       data: (function() {
         var data = [],
             time = (new Date()).getTime(),
             i;
         for (i = -30; i <= 0; i++) {
           data.push({
             x: time + i * 1000,
             y: Math.random()
           });
         }
         return data;
        })()
    },
    {
       name: 'Battery',
       data: (function() {
         var data = [],
             time = (new Date()).getTime(),
             i;
         for (i = -30; i <= 0; i++) {
           data.push({
             x: time + i * 1000,
             y: Math.random()
           });
         }
         return data;
        })()
    }]
  }); 
});
</script>

<div id="graph" style="width: 100%;"></div>

