
<%= Time.now %>

<script type="text/javascript">
</script>

<div id="graph" style="width: 100%;"></div>

<%= @a %>

<% @power.each do |p| %>
<h1><%= p %></h1>
<% end %>

<% @battery.each do |b| %>
<h1><%= b %></h1>
<% end %>





hello world

